body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:8px;
  top:7px;
  width:1262px;
  height:953px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:953px;
}
#u1 {
  position:absolute;
  left:2px;
  top:468px;
  width:1258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:360px;
  top:140px;
  width:780px;
  height:480px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:480px;
}
#u3 {
  position:absolute;
  left:2px;
  top:232px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:20px;
  width:50px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:20px;
  width:53px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:100px;
  top:48px;
  width:53px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:8px;
  top:80px;
  width:1262px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:1245px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1262px;
  height:1px;
}
#u11 {
  position:absolute;
  left:290px;
  top:89px;
  width:73px;
  height:33px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:411px;
  top:156px;
  width:145px;
  height:33px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:388px;
  top:240px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:474px;
  top:237px;
  width:200px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:729px;
  top:240px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:815px;
  top:236px;
  width:200px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:388px;
  top:203px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:388px;
  top:370px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:474px;
  top:368px;
  width:200px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:388px;
  top:419px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:474px;
  top:415px;
  width:200px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:729px;
  top:419px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:815px;
  top:415px;
  width:200px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:388px;
  top:320px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:474px;
  top:316px;
  width:200px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:1030px;
  top:572px;
  width:98px;
  height:38px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:360px;
  top:552px;
  width:780px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
#u37 {
  position:absolute;
  left:350px;
  top:32px;
  width:390px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:280px;
  top:32px;
  width:30px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:320px;
  top:32px;
  width:20px;
  height:25px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:760px;
  top:32px;
  width:100px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u42 {
  position:absolute;
  left:942px;
  top:20px;
  width:73px;
  height:50px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:474px;
  top:199px;
  width:200px;
  height:22px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-color:#CCCCCC;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u44_input:disabled {
  color:grayText;
}
#u45 {
  position:absolute;
  left:729px;
  top:320px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:815px;
  top:316px;
  width:200px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u48 {
  position:absolute;
  left:388px;
  top:279px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:474px;
  top:275px;
  width:200px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u51 {
  position:absolute;
  left:388px;
  top:452px;
  width:635px;
  height:100px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u52 {
  position:absolute;
  left:40px;
  top:187px;
  width:130px;
  height:30px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:270px;
  top:85px;
  width:10px;
  height:875px;
}
#u54_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u54_end {
  position:absolute;
  left:-5px;
  top:858px;
  width:20px;
  height:18px;
}
#u54_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:875px;
}
#u55 {
  position:absolute;
  left:40px;
  top:100px;
  width:97px;
  height:33px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:40px;
  top:145px;
  width:130px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:46px;
  top:151px;
  width:118px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:66px;
  top:194px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:40px;
  top:229px;
  width:130px;
  height:30px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:66px;
  top:236px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:240px;
  top:234px;
  width:20px;
  height:22px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u67_input:disabled {
  color:grayText;
}
#u68 {
  position:absolute;
  left:90px;
  top:271px;
  width:130px;
  height:30px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:107px;
  top:279px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:90px;
  top:312px;
  width:130px;
  height:30px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:107px;
  top:319px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:90px;
  top:354px;
  width:130px;
  height:30px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:107px;
  top:361px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:90px;
  top:396px;
  width:130px;
  height:30px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:107px;
  top:402px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:90px;
  top:438px;
  width:130px;
  height:30px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:107px;
  top:442px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:40px;
  top:478px;
  width:145px;
  height:33px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:40px;
  top:523px;
  width:130px;
  height:30px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:59px;
  top:530px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:40px;
  top:565px;
  width:130px;
  height:30px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:59px;
  top:570px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:40px;
  top:606px;
  width:130px;
  height:30px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:72px;
  top:610px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:40px;
  top:648px;
  width:97px;
  height:33px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:40px;
  top:693px;
  width:130px;
  height:30px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:78px;
  top:700px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:40px;
  top:735px;
  width:145px;
  height:33px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:40px;
  top:780px;
  width:130px;
  height:30px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u111 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:66px;
  top:786px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
